.todo
  border-radius: 4px
  border: 1px solid black
.todo-items-holder
  min-height: 200px
  max-height: 200px
  overflow-y: auto
.todo-item
  padding: 0 0 1% 0 !important
  margin-left: 1%
.todo-action
  text-decoration: none
.todo-action.check
  color: #43A047
.todo-action.edit
  color: #FF8F00
